.App{
    height: 736px;
    width: 414px;
    display: block;
    margin: 0 auto;
    padding: 0 auto;
}

.container, #container{
    padding: 0 auto !important;
}

.form-control{
    width: 414px;
}

form input[name="city"],
form input[name="city"]:focus{
    background-color: transparent;
    border: 50;
    border-right: 0;
    border-radius: 50px;
    border-color: black;
    background-color: transparent;
    box-shadow: none !important;
    outline: none !important;
    }

form button[name="search-button"],
form button[name="search-button"]:focus,
form button[name="search-button"]:active,
form button[name="search-button"]:hover,
form button[name="search-button"]:active:focus:not(:disabled):not(.disabled) {
    background-color: transparent !important;
    border: 50;
    border-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px ;
    border-color: black;
    box-shadow: none !important;
    outline: none !important;
}

.btn-toolbar{
    width: 414px;
    display: block;
    
    margin-left: 0;
}
